@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
body{
  padding:0;
  margin:0;
  font-family: 'Josefin Sans', sans-serif;
}
